<form method="post" action="{{ url_for('comment.leave_comment',post_id=article.id) }}">
    {{ leave_comment_form.csrf_token(id='comment-csrf') }}
    <div class="mb-3">
            {{ leave_comment_form.comment_content.label() }}
             <br><br>
            {{ leave_comment_form.comment_content(id='comment-field') }}
        </div>
            {{ leave_comment_form.pu_id() }}

     {{ leave_comment_form.submit(class='btn btn-success') }}
</form>