<div id="comment-status"></div>
<div class="shadow p-3 mb-5 bg-white rounded ">

    <div class="d-flex flex-column">
        <div class="p-2 text-center"><a class="btn btn-dark " href="#cke_comment-field">Leave comments</a></div>
        <div class="p-2">
        <div>Comments</div>
        <div style="padding:0;"><hr></div>
        <div id="comment-card">
            {% for comment in comments %}
                <div class="shadow-none p-3 mb-1 bg-light rounded" id="cm-block-{{ comment.id }}">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div>By: <b>{{ comment.user.name }}</b><small class="comment-date">&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.on_update | article_date_format() }}</small></div>
                        </div>
                        {% if current_user.is_authenticated %}
                            {% if current_user.name == comment.user.name or current_user.info.admin %}
                                <div class="d-flex">
                                    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comment-id_{{ comment.id }}">Edit</a>
                                    {% include 'comment/delete_comment_form.html' %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <br>
                    <div class="comment-text">{{ comment.comment_text | safe }}</div>
                </div>
                {% include 'comment/edit_comment_modal.html' %}
            {% endfor %}
        </div>
        </div>
    </div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    {% if current_user.is_authenticated %}
        {% include 'comment/comment_form.html' %}
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='comment_content', height=100) }}
    {% else %}
        <div class="text-center">You must be logged in to post a comment. <a href="{{ url_for('auth.login') }}">Login</a></div>
    {% endif %}
</div>