
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>


<div class="modal fade" id="comment-id_{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body-border">
           <div id="ajax-message-{{ comment.id }}"></div>
          <form method="post" action="{{ url_for('comment.edit_comment', post_id=article.id) }}"
                id="edit-comment-{{ comment.id }}" onsubmit="return false;">

                  {{ edit_comment_form.csrf_token() }}
                  {{ ckeditor.create(value=comment.comment_text) }}
                  {{ edit_comment_form.hidden_com_id(value=comment.id) }}
              <br>
              <div class="d-flex justify-content-end">
                <div class=""><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
                <div style="margin-left:5px;">{{ edit_comment_form.submit(class='btn btn-primary', id='cm-id-'+ (comment.id | string)) }}</div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>