body{
    margin: 0 auto;
    width:76%;
    height:100%;
}
.main-content{
    min-height:100%
}
.badge-space {
    margin-left: 5px;
    cursor:pointer;
}

.wrap-img{
        height: 200px;
        overflow: hidden;
}

.wrap-img-article{
    max-height:500px;
    overflow:hidden;
}

#search-form{
    display:contents;
}

a{
    text-decoration: none;
}

#add-post-btn{
    white-space: nowrap;
    margin-right:5px
}

.article-created{
    font-weight: normal;
    color:#839192 ;
    /*font-size:12px;*/
}

.date-wrapper{
    margin-top:8px;
    font-weight:bold;
}

.article-btn-wrapper{
    margin-right:7px;
}

form > div.d-flex > .row{
     flex-grow:1;
}

.comment-date{
    color:grey;
}
.gear-icon-wrapper{
    margin-left:12px;
}

.delete-comment-form{
    margin-bottom:0;
    margin-left:4px;
}

.gear-name-icon-wrapper {
    margin-left:10px
}

.profile-img-wrapper img{
    width:100%;
}

@media only screen and (max-width: 1000px){
    #search_input{
        margin-bottom:5px;
    }
    #add-post-btn{
        white-space: nowrap;
        margin: 0 0 5px 0;
    }
    .gear-name-icon-wrapper{
        margin-top: 8px;
        margin-left: 2px !important;
    }
}

@media only screen and (max-width: 720px){
    body{
        width:96%;
    }
}

[id^="vote-btn-up"]{
    margin-right:20px;
}
[id^="vote-btn-down"]{
    margin-left:20px;
}

.align-rating{
    display:table-cell;
    vertical-align:middle;
}
.align-rating-wrapper{
    display:table;
}