{% extends 'base.html' %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/delete_comment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit_comment.js') }}"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="shadow p-3 mb-5 bg-body rounded" id="article-{{ article.id }}">
            <h2 >{{ article.title}}</h2>
            <div class="wrap-img-article">
                <img class="card-img-top" src="{{ url_for(
                'static', filename='img/'+ ( article.id | string) + "/"+ ((article.id | string) | get_first_dir_file())
                ) }}" alt="Card image cap">
            </div><br>
            <small class="fw-bold">By:<a href="{{ url_for('blog.user_profile', user_id=article.user.id) }}">
                {{ article.user.name }}</a></small><br>
            <div class="date-wrapper"><small>Posted: <span class="article-created">{{ article.on_create | article_date_format() }}</span></small></div><br>
            <div>{{ article.article_body | safe }}</div><br>
            <div>
                {% for tag in article.tags %}
                    <span class="badge bg-dark">{{ tag.tag_name }}</span>
                {% endfor %}
            </div>
            <div><hr></div>
            <div class="d-inline-flex">
                {% if article.author == current_user.id %}
                    <div class="article-btn-wrapper">
                        <a href="{{ url_for('blog.update_article',art_id=article.id) }}" type="button"
                           class="btn btn-outline-secondary">Edit post</a>
                    </div>
                {% endif %}
            </div>
        </div>
    <div class="">
        {% include 'comment/comments.html' %}
    </div>

{% endblock %}