<div class="shadow p-3 mb-5 bg-body rounded" id="article-{{ article.id }}">
    <div class="wrap-img">
        <img class="card-img-top" src="{{ url_for(
                'static', filename='img/'+ ( article.id | string) + "/"+ ((article.id | string) | get_first_dir_file())
                ) }}" alt="Card image cap">
            </div><br>
            <h4 id="title-{{ article.id }}">
                <a href="{{ url_for('blog.show_article', article_id=article.id) }}" target="_blank">{{ article.title}}</a></h4>
    <small class="fw-bold">By: <a href="{{ url_for('blog.user_profile', user_id=article.user.id) }}">
        {{ article.user.name }}</a></small><br>
            <div class="date-wrapper"><small>Posted:
                <span class="article-created">{{ article.on_create | article_date_format() }}</span></small></div><br>

            <div>{{ (article.article_body | safe) | cut_article_for_prev() }}</div><br>
            <hr>
            <div class="d-flex justify-content-between">
                <div class="d-inline-flex">
                    <div class="article-btn-wrapper">
                        <a type="button" class="btn btn-outline-secondary"
                           href="{{ url_for('blog.show_article', article_id=article.id) }}">View post</a>
                    </div>
                    {% if article.author == current_user.id %}
                        <div class="article-btn-wrapper"><a type="button" class="btn btn-outline-secondary" href="
                        {{ url_for('blog.update_article', art_id=article.id) }}">Edit post</a>
                        </div>
                        {% include 'blog/delete_form.html' %}

                    {% endif %}
                </div>
                <div>

                    {% include 'blog/vote_form.html' %}
                </div>

            </div>
</div>