{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block script %}
    {{ super() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="{{ url_for('static', filename='js/tag_search.js') }}"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <form method="post" onsubmit="return pack_tags();" enctype="multipart/form-data">
        {{ create_form.csrf_token() }}
        <div class="mb-3">
            {{ create_form.article_picture.label(class='form-label') }}
            {{ create_form.article_picture(class='form-control') }}
        </div>
        <div class="mb-3">
            {{ create_form.title.label(class='form-label') }}
            {{ create_form.title(class='form-control') }}
        </div>
        <div class="mb-3">
            {{ create_form.article_body.label(class='form-label') }}
            {{ create_form.article_body(class='form-control') }}
             {{ create_form.tags(id='tags-hidden') }}
        </div>
        <div class="mb-3">
                <p>Tags:</p>
                <div id="tags"></div>
        </div>
        <div class="mb-3">
            Select existing tag or add your own:
            <input type="text" class="form-control" id="tag-search" maxlength="15">
        </div>
        {{ create_form.submit(class='btn btn-primary', id='create-article') }}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='article_body', height=300) }}

{% endblock %}