{% if articles.pages > 1 and articles.page <= articles.pages %}
    <div class="d-flex justify-content-center" id="paginator">
        <nav aria-label="Page navigation example">
          <ul class="pagination">

            <li class="page-item{% if articles.page == 1 %} disabled{% endif %}"><a class="page-link" href="{{ url_for(url, page=1) }}">First</a></li>
            <li class="page-item{% if not articles.has_prev %} disabled{% endif %}"><a class="page-link" href="{{ url_for(url, page=articles.page - 1) }}">Previous</a></li>

            {% if articles.page - 2 > 0 %}
                <li class="page-item"><a class="page-link" href="{{ url_for(url, page=articles.page - 2) }}">{{ articles.page - 2 }}</a></li>
            {% endif %}

            {% if articles.has_prev %}
                <li class="page-item"><a class="page-link" href="{{ url_for(url, page=articles.page - 1) }}">{{ articles.page - 1 }}</a></li>
            {% endif %}

            <li class="page-item disabled"><a class="page-link" href="{{ url_for(url, page=articles.page) }}">{{ articles.page }}</a></li>

             {% if articles.has_next %}
                <li class="page-item"><a class="page-link" href="{{ url_for(url, page=articles.page + 1) }}">{{ articles.page + 1 }}</a></li>
            {% endif %}

            {% if articles.page + 2 <= articles.pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for(url, page=articles.page + 2) }}">{{ articles.page + 2 }}</a></li>
            {% endif %}

              <li class="page-item{% if not articles.has_next %} disabled{% endif %}"><a class="page-link" href="{{ url_for(url, page=articles.page + 1) }}">Next</a></li>
              <li class="page-item{% if articles.page == articles.pages %} disabled{% endif %}"><a class="page-link" href="{{ url_for(url, page=articles.pages) }}">Last</a></li>
          </ul>
        </nav>
    </div>
{% endif %}
