{% extends 'base.html' %}

{% block script %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    {% include 'blog/settings_form.html' %}
    {% if user_events %}
        <br><br>
        <h4>Activity</h4>
        <hr>
        <ul class="list-group list-group-flush">
        {% for event in user_events %}
             <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p>
                                    <strong>
                                        {{ event.event_title }}
                                    </strong>
                                </p>
                                <p>
                                        {{ event.event_desc }}
                                </p>
                            </div>
                            <div>
                                <small>{{ event.on_create.strftime('%d %B %Y, %H:%M') }}</small>
                            </div>
                        </div>
                    </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}