<form method="post" enctype="multipart/form-data">
    {{ update_form.csrf_token(id='update_form') }}
    <br>
    <div class="d-flex">
        <div class="row" >
            <div class="col-lg-4"><h5>Change password</h5></div>
            <div class="col-lg-4">
                {{ update_form.profile_picture.label(class='form-label') }}
                {{ update_form.profile_picture(class='form-control') }}
            </div>
            <div class='col-lg-4'>
                Current profile picture:
                <div class=" profile-img-wrapper">
                {% if os.path.join('users', (current_user.id | string), ((current_user.id | string) | get_first_dir_file_users())) | image_exists() %}

                    <img src="{{ url_for('static', filename='img/users/' + (current_user.id | string) +
                    '/' + ((current_user.id | string) | get_first_dir_file_users())) }}">
                {% else %}
                    <div><b>There is no profile picture</b></div>
                {% endif %}
                </div>
            </div>
            <br>
            <div class="col-lg-12"><hr></div>
        </div>
    </div>
    <br>
    <div class="d-flex">
        <div class="row" >
            <div class="col-lg-4"><h5>Change password</h5></div>
            <div class="col-lg-4">
                {{ update_form.current_password.label(class='form-label') }}
                {{ update_form.current_password(class='form-control') }}

                {{ update_form.new_password.label(class="form-label") }}
                {{ update_form.new_password(class="form-control") }}

                {{ update_form.confirm_new_password.label(class="form-label") }}
                {{ update_form.confirm_new_password(class="form-control") }}
            </div>
            <br>
            <div class="col-lg-12"><hr></div>
        </div>
    </div>
    <div class="d-flex">
        <div class="row">
            <div class="col-lg-4"><h5>Change email</h5></div>
            <div class="col-lg-4">
                {{ update_form.change_email.label(class='form-label') }}
                {{ update_form.change_email(class='form-control', value=current_user.email) }}
            </div>
            <br>
             <div class="col-lg-12"><hr></div>
        </div>
    </div>

    <div class="d-flex">
        <div class="row">
            <div class="col-lg-4"><h5>Change username</h5></div>
            <div class="col-lg-4">
                {{ update_form.change_name.label(class='form-label') }}
                {{ update_form.change_name(class='form-control', value=current_user.name) }}
            </div>
             <div class="col-lg-12"><hr></div>
        </div>
    </div>

    {{ update_form.submit(class='btn btn-success') }}
</form>