{% extends 'base.html' %}

{% block script %}
    {{ super() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="{{ url_for('static', filename='js/tag_search.js') }}"></script>
{% endblock %}

{% block content %}
    {{ super() }}
        <div class="d-flex justify-content-center">
            <img class="img-fluid"
                 src="{{ url_for('static', filename='img/'+(article.id | string)+'/'+((article.id | string) | get_first_dir_file()) ) }}">
        </div>
            <br>
    <form method="post" onsubmit="return pack_tags();" enctype="multipart/form-data">
        {{ update_form.csrf_token() }}

        <div class="mb-3">
            {{ update_form.article_picture.label(class='form-label') }}
            {{ update_form.article_picture(class='form-control') }}
        </div>
        <div class="mb-3">
            {{ update_form.title.label(class='form-label') }}
            {{ update_form.title(class='form-control', value=article.title ) }}
        </div>
        <div class="mb-3">
            {{ update_form.article_body.label(class='form-label') }}
            {{ update_form.article_body(class='form-control', value=article.article_body) }}
             {{ update_form.tags(id='tags-hidden') }}
        </div>
        <div class="mb-3">
                <p>Tags:</p>
                <div id="tags">
                    {% for tag in tags %}
                        <span class="badge bg-dark badge-space" onclick='remove(this)'>{{ tag.tag_name }}</span>
                    {% endfor %}
                </div>
        </div>
        <div class="mb-3">
            Select existing tag or add your own:
            <input type="text" class="form-control" id="tag-search" maxlength="15">


        </div>
        {{ update_form.submit(class='btn btn-primary', id='create-article') }}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='article_body', height=300) }}
{% endblock %}