{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    {% include 'blog/user_navbar.html' %}
   <br>
    <div class="d-flex">
        <div class="row">
            <div class="col-lg-6">
                <div class="profile-img-wrapper">
                    <img src="{{ url_for('static', filename='img/users/' + (user.id | string) +
                            '/' + ((user.id | string) | get_first_dir_file_users())) }}">
                </div>
            </div>
            <div class="col-lg-6">
                <p> <b>User: </b>{{ user.name }}</p>
                <p> <b>Registered: </b> {{ user.on_create.strftime('%d.%m.%Y') }}</p>
                <div>
                    <b>User uses next tags:</b>
                    {% for tag in tags %}
                        <span class="badge bg-dark">{{ tag.tag_name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
