{% if data.pages > 1 and data.page <= data.pages %}

    <div class="d-flex justify-content-center" id="paginator">
        <nav aria-label="Page navigation example">
          <ul class="pagination">

            <li class="page-item{% if data.page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for(url, page=1, user_id=user_id) }}">First</a>
            </li>

            <li class="page-item{% if not data.has_prev %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for(url, page=data.page - 1, user_id=user_id) }}">Previous</a>
            </li>

            {% if data.page - 2 > 0 %}
                <li class="page-item"><a class="page-link" href="{{ url_for(url, page=data.page - 2, user_id=user_id) }}">{{ data.page - 2 }}</a>
                </li>
            {% endif %}

            {% if data.has_prev %}
                <li class="page-item"><a class="page-link" href="{{ url_for(url, page=data.page - 1, user_id=user_id) }}">{{ data.page - 1 }}</a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="{{ url_for(url, page=data.page, user_id=user_id) }}">{{ data.page }}</a>
            </li>

             {% if data.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(url, page=data.page + 1, user_id=user_id) }}">{{ data.page + 1 }}</a>
                </li>
            {% endif %}

            {% if data.page + 2 <= data.pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(url, page=data.page + 2, user_id=user_id) }}">{{ data.page + 2 }}</a></li>
            {% endif %}

              <li class="page-item{% if not data.has_next %} disabled{% endif %}">
                  <a class="page-link" href="{{ url_for(url, page=data.page + 1, user_id=user_id) }}">Next</a>
              </li>
              <li class="page-item{% if data.page == data.pages %} disabled{% endif %}">
                  <a class="page-link" href="{{ url_for(url, page=data.pages, user_id=user_id) }}">Last</a>
              </li>
          </ul>
        </nav>
    </div>
{% endif %}
