{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    {% include 'blog/user_navbar.html' %}
    {% for comment in data.items %}
         <div class="shadow-none p-3 mb-1 bg-light rounded" id="cm-block-{{ comment.id }}">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div>By: <b>{{ comment.user.name }}</b><small class="comment-date">&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.on_update | article_date_format() }}</small></div>
                        </div>
                        {% if current_user.is_authenticated %}
                            {% if current_user.name == comment.user.name or current_user.info.admin %}
                                <div class="d-flex">
                                    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comment-id_{{ comment.id }}">Edit</a>
                                    {% include 'comment/delete_comment_form.html' %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <br>
                    <div class="comment-text">{{ comment.comment_text | safe }}</div>
                </div>
    {% endfor %}
    {% include 'blog/user_pagination.html' %}
{% endblock %}