<br>
<nav class="nav nav-pills nav-fill navbar-dark bg-dark">
  <a class="nav-link user-nav  text-light" aria-current="page" href="{{ url_for('blog.user_profile', user_id=user_id) }}" id="user-profile">Active</a>
  <a class="nav-link user-nav text-light" href="{{ url_for('blog.user_articles', user_id=user_id) }}"
     id="user-articles">Articles ({% if articles_count %}{{ articles_count }}{% else %}0{% endif %})</a>
  <a class="nav-link user-nav text-light" href="{{ url_for('blog.user_comments', user_id=user_id) }}"
     id="user-comments">Comments ({% if comments_count %}{{ comments_count }}{% else %}0{% endif %})</a>
  <a class="nav-link disabled user-nav" href="#" tabindex="-1" aria-disabled="true">Soon</a>
</nav>

<script src="{{ url_for('static', filename='js/user_navbar.js') }}"></script>