<div class="d-inline-flex">
    {% if current_user.is_authenticated %}
        <div>
            {% if article.id in check_uv and check_uv[article.id][0] == current_user.id and check_uv[article.id][1] == 1 %}
                <button class="btn btn-success disabled" value="up" id="vote-btn-up-{{ article.id }}">Up</button>
            {% else %}
                <button class="btn btn-success" value="up" id="vote-btn-up-{{ article.id }}" >Up</button>
            {% endif %}
        </div>
    {% endif %}
    <div id="show-rating-{{ article.id }}" class="align-rating-wrapper">
        <span id="align-rating-{{ article.id }}" class="align-rating">
            {% if article.id in rating %}
                {{ rating[article.id] }}
            {% else %}
                0
            {% endif %}
        </span>
    </div>

    {% if current_user.is_authenticated %}
        <div>
            {% if article.id in check_uv and check_uv[article.id][0] == current_user.id and check_uv[article.id][1] == -1 %}
                <button class="btn btn-danger disabled" value="down" id="vote-btn-down-{{ article.id }}">Down</button>
            {% else %}
                <button class="btn btn-danger" value="down" id="vote-btn-down-{{ article.id }}" >Down</button>
            {% endif %}
        </div>
    {% endif %}
</div>
