{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <form method="post">
        {{ chg_psw_form.hidden_tag() }}
        <div class="mb-3">
            {{ chg_psw_form.password.label(class='form-label') }}
            {{ chg_psw_form.password(class='form-control') }}
        </div>
        <div class="mb-3">
            {{ chg_psw_form.password_confirm.label(class='form-label') }}
            {{ chg_psw_form.password_confirm(class='form-control') }}
        </div>

        {{ chg_psw_form.submit(class='btn btn-primary') }}
    </form>
{% endblock %}