{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    {{ super() }}
    <br>
    <form method="POST" >
    <div >
        {{ login_form.hidden_tag() }}
        <div class="form-group">
            {{ login_form.email.label(class='form-label') }}
            {{ login_form.email(class='form-control') }}
        </div>
        <div class="form-group">
            {{ login_form.password.label(class='form-label') }}
            {{ login_form.password(class='form-control') }}
        </div>
        <br>
        <div class="form-group d-flex justify-content-between">
            <div>
            {{ login_form.remember() }}
            {{ login_form.remember.label(class='form-label') }}
            </div>
            <div>
                <a href="{{ url_for('auth.password_recovery') }}">Forgot password?</a>
            </div>
        </div>


    </div>
    {{ login_form.submit(class='btn btn-success') }}
    </form>

{% endblock %}