<style>
.mail-button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.mail-button:hover,
.mail-button:focus {
  opacity: .75;
}
</style>
<p>You asked for password reset</p>
<p>Click on the button below to start procedure</p>
<br>
<div>
    <a class='mail-button' href="{{ confirm_password_change }}">Change password</a>
</div>
<br>
<p>Cheers!</p>
