{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <br>
    <form method="post">
    {{ recovery_form.hidden_tag() }}
        <div class="mb-3">
            {{ recovery_form.email.label(class='form-label') }}
            {{ recovery_form.email(class='form-control') }}
        </div>
        <div class="mb-3">
            {{ recovery_form.submit(class='btn btn-primary') }}
        </div>
    </form>
{% endblock %}