{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <h1>Welcome!</h1>
    <br>
    <p>You have not confirmed your account. Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</p>
    <p>Didn't get the email? <a href="{{ url_for('auth.resend') }}">Resend</a>.</p>
    <p>Is this your email: <b>{{ current_user.email }}</b> ? If not, you can change it <a href="{{ url_for('blog.settings') }}">here</a></p>

{% endblock %}