{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<html>
    <head>
    <title>{% block title %}{% endblock %}</title>
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    <body>
        {% block script %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="{{ url_for('static', filename='js/libs/jquery-3.6.0.js') }}"></script>
            <script src="{{ url_for('static', filename='js/libs/jquery-ui.js') }}"></script>
            <script src="{{ url_for('static', filename='js/vote_form.js') }}"></script>
             {{ bootstrap.load_js() }}
        {% endblock %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {{ render_nav_item('blog.index', 'Home', use_li=True) }}
                    {% if not current_user.is_authenticated %}
                        {{ render_nav_item('auth.login', 'Login', use_li=True) }}
                        {{ render_nav_item('auth.register', 'Register', use_li=True) }}
                    {% endif %}
                    {% if current_user.is_authenticated %}


                        {% if current_user.info.confirmed %}
                            <li class="nav-item"><a id='add-post-btn' href="{{ url_for('blog.create_article') }}" type="button" class="btn btn-outline-success">Add post</a></li>
                        {% endif %}

                        {{ render_nav_item('auth.logout', 'Logout', use_li=True) }}

                    {% endif %}
                </ul>

                <form class="form-inline my-2 my-lg-0" id="search-form" method="post" action="{{ url_for('blog.search', page=1) }}">
                    {{ form.hidden_tag() }}
                    <input class="form-control mr-sm-2" name="searched" type="search" placeholder="Search" id="search_input">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            {% if current_user.is_authenticated %}
                <div class="gear-name-icon-wrapper d-flex">
                    <div>{{ current_user.name }}</div>
                    <div class="gear-icon-wrapper">
                        <a href="{{ url_for('blog.settings') }}">
                            <i class="fa fa-gear gear" style="font-size:24px;color: black"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            </div>

            </div>
        </nav>
        <div class="main-content">
            {% block content %}
                {{ render_messages() }}
            {% endblock %}
        </div>
        {% include 'blog/footer.html' %}
    </body>
</html>
